<div class="quiz-container" *ngIf="perguntas.length > 0">
  <div class="quiz-header">
    <div class="quiz-title">Quiz.io</div>

    <div class="quiz-round">Rodada {{ rodadaAtual }} / {{ totalRodadas }}</div>
  </div>

  <div class="pergunta-numero">Pergunta {{ perguntaAtual + 1 }}</div>

  <div class="pergunta-texto">
    {{ decode(perguntas[perguntaAtual]?.question || '') }}
  </div>

  <div class="answers">
    <button
      *ngFor="let r of respostas"
      (click)="responder(r)"
      [disabled]="bloquearClique"
      [ngClass]="{
        correta: mostrarResultado && r === perguntas[perguntaAtual].correct_answer,
        errada:
          mostrarResultado &&
          r === respostaSelecionada &&
          r !== perguntas[perguntaAtual].correct_answer
      }"
    >
      {{ decode(r) }}
    </button>
  </div>
</div>

<div class="carregando" *ngIf="!perguntas.length">
  <p>Carregando perguntas...</p>
</div>
