/*
Branco: #fcf5e4
amarelo: #edb217
preto: #212121
vermelho: #f4143f
*/
body{
  background: #212121;
  font-family: "IBM Plex Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.quiz-container{
  max-width: 750px;
  width: 90%;
  padding: 40px;
  background: #fcf5e4;
  border-radius: 16px;
  box-shadow: 0 10px 35px rgba(0,0,0,0.25);
  text-align: center;
}

.quiz-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.quiz-title{
  font-family: "Coiny", system-ui;
  font-size: 50px;
  color: #edb217;
}

.quiz-round{
  font-size: 18px;
  font-weight: bold;
  color: #555;
}

.pergunta-numero{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #555;
}

.pergunta-texto{
  text-align: center;
  font-size: 22px;
  margin-bottom: 30px;
  color: #333;
}

.answers{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.answers button{
  padding: 15px;
  border: none;
  border-radius: 8px;
  background: #edb217;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.answers button:hover{
  background: #d8a014;
  transform: scale(1.03);
}

.answers button:active{
  transform: scale(0.97);
}

.carregando{
  font-size: 50px;
  font-weight: 900;
  color: #fcf5e4;
  font-family: "IBM Plex Sans", sans-serif;
  align-items: center;
  text-align: center;
}

button {
  transition: all 0.3s ease;
  padding: 12px;
  border: 1px solid #ddd;
  background-color: white;
  display: block;
  width: 100%;
  margin-bottom: 8px;
  border-radius: 5px;
}

.correta {
  background-color: #28a745 !important;
  color: white !important;
  border-color: #1e7e34 !important;
}

.incorreta {
  background-color: #dc3545 !important;
  color: white !important;
  border-color: #bd2130 !important;
}

.dot{
  color: #212121;
}
