/*
Branco: #fcf5e4
amarelo: #edb217
preto: #212121
vermelho: #f4143f
*/

body{
  background: #212121;
  font-family: "IBM Plex Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.logo{
  width: 390px;
  margin-bottom: 15px;
}
.logo:hover{
  transform: scale(1.05);
}

.home-container{
  max-width: 600px;
  width: 100%;
  padding: 40px;
  background: #fcf5e4;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.15);
  text-align: center;
  margin: 50px auto;
  margin-top: 100px;
}

.home-container h1{
  font-family: "Coiny", system-ui;
  font-size: 50px;
  color: #edb217;
  margin-bottom: 10px;
}

.home-container p{
  font-size: 18px;
  color: #555;
  margin-bottom: 30px;
}

.botoes{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.botoes button{
  padding: 15px;
  border: none;
  border-radius: 8px;
  background: #edb217;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.botoes button:hover{
  background: #d8a014;
  transform: scale(1.03);
}

.botoes button:active{
  transform: scale(0.97);
}

.botoes button.secundario{
  background: #f4143f;
}

.botoes button.secundario:hover{
  background: #d91235;
}
