/*
Branco: #fcf5e4
amarelo: #edb217
preto: #212121
vermelho: #f4143f
*/
@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP&display=swap');

*{
  font-family: "IBM Plex Sans", sans-serif;
}
